body {
    background-color: rgb(246, 250, 250);
    font-family: 'Noto Sans JP', sans-serif;
}

.content {
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
} 



 h1{
    color:#BD6F92;
    font-size: clamp(15px, 1.5vw, 25px);
    letter-spacing: 0.1em;
}

.ready {
    color:#fff;
    padding: 10px 50px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    background-color: #BD6F92;
    border-radius: 4px;
    letter-spacing: 0.1em;
    margin-bottom: 0;
}




@media(max-width:670px){
    .logo img{
        width: 90%;
    }
    }
