@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* すべての要素に対して box-sizing: border-box; を指定してください */
*{
  box-sizing:border-box;
}

a {
  color: #000;
  text-decoration: none;
}
/* 後で色を白に変える */
body {
  background: rgb(219, 216, 216);
}

.container {
  width: 1170px;
  padding: 0 10px;
  margin: 0 auto;

}


header + header {
  margin-top: 50px;
}

.box {
  text-align: center;
  padding: 40px 0;
  margin: 0;
  letter-spacing: 3px;
}

/*--------------------------------------
ヘッダー
--------------------------------------*/
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }

  .header_inner{
    max-width: 1152px;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header_logo{
    flex: none;
    width: auto;
    height: 45px;
  }

  .header_navgroup{
    margin-left: auto;
    display: flex;
    flex: none;
  }

  .header_navgroup > * + *{
    margin-left: 20px;
  }

/* ヘッダーのお問い合わせボタン */
  .header_btn{
    font-size: 16px;
    font-weight: bold;
    background-color: #63ca63;
    border-radius:4px;
    padding:10px 20px;
    box-shadow:0 3px #46927e;
  }

  .header_btn a{
    color:#fff;
  }

.reservation{
  background-color:#f17f3c;
  box-shadow:0 3px #c06209;
}

.header_btn:hover{
  box-shadow:none;
  position:relative;
  top:3px;
}


/* メールアイコン */
.mail_icon {
  padding-right: 10px;
}
/* フロートの穴埋め */
.brank {
  width:100%;
  height:60px;
}

/* トップの画像 */
.header_image{
  background-image: url(images/top2.svg) ;
  width: 100%;
  height: 0px;
  padding-top:37.98%;/* 使用した画像サイズの高さ÷横幅×100 */
  background-size:contain;
  background-repeat:no-repeat;

}

/*--------------------------------------
最新情報
--------------------------------------*/

.info {
  background-color:rgb(255, 255, 255);
}

.h2_ttl {
  letter-spacing: 3px;
  font-size:max(16px, 2vw);
/* ↑比較して大きい方が採用される */
}


/* タイトル下の青いライン */
.h2_ttl:after {
  display: block;
  width: 80px;
  height: 4px;
  margin: 20px auto 50px;
  background: rgb(49 153 223);
  content: "";
}

.container > p {
  line-height: 30px;
  letter-spacing: 3px;

}


/*マーカーアニメーション*/
 
.marker-animation.active{
  background-position: -100% .5em;
}

.marker-animation {
  background-image: -webkit-linear-gradient(left, transparent 50%, rgb(255,250,153) 50%);
  background-image: -moz-linear-gradient(left, transparent 50%, rgb(255,250,153) 50%);
  background-image: -ms-linear-gradient(left, transparent 50%, rgb(255,250,153) 50%);
  background-image: -o-linear-gradient(left, transparent 50%, rgb(255,250,153) 50%);
  background-image: linear-gradient(left, transparent 50%, rgb(255,250,153) 50%);
  background-repeat: repeat-x;
  background-size: 200% .8em;
  background-position: 0 .5em;
  transition: all 2s ease;
  font-weight: bold;
}

/*コンバージョンアップボタン （中央寄せ）*/

.button3,
a.button3,
button.button3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.button3-wrap {
  margin: 30px 0;
  text-align: center; 
}

a.button3-c {
    font-size: 1.15rem;
    width: 60%;
    position: relative;
    padding: 0.25rem 2rem 0.5rem 2.1rem;
    color: #fff;
    background: #63ca63;
    -webkit-box-shadow: 0 5px 0 #2c9d60;
    box-shadow: 0 5px 0 #2c9d60;
}

a.button3-c span {
    font-size: 0.8rem;
    position: absolute;
    top: -10px;
    left: calc(50% - 150px);
    display: block;
    width: 300px;
    padding: 0.2rem 0;
    color: #32b16c;
    border: 2px solid #32b16c;
    border-radius: 0.5rem;
    background: #fff;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }

a.button3-c:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  color: #fff;
  background: #63ca63;
  -webkit-box-shadow: 0 2px 0 #2c9d60;
  box-shadow: 0 2px 0 #2c9d60;
}

a.button3-c:hover:before {
  left: 2rem;
}

/*--------------------------------------
こんな人におすすめ
--------------------------------------*/

.recomend {
  background-color:rgb(255,254,241);
}

.recomend-rapper { 
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recomend_item {
  box-sizing: border-box;
  background-color: #fff;
  width: 280px;
  padding: 20px 0;
  margin-bottom: 20px;
}

.recomend_item > p {
  padding-top: 10px;
}

/*アイコンの仕様*/
.icon {
  width: 80%;
  color: rgb(99, 100, 100);
}

/*--------------------------------------
5つの特徴
--------------------------------------*/

.about {
  background-color:rgb(255, 255, 255);
    
}

.about_item {
  padding-bottom: 50px;
}

/*サブの見出しとデザイン*/
.h3_ttl {
  font-size: clamp(15px, 2vw, 20px);
  padding: 1rem 2rem;
  border-top: 3px dotted rgb(197, 196, 196);
  border-bottom: 3px dotted rgb(197, 196, 196);

}
/*基本スケジュール*/
  /* flexbox */
  .flex_box {
    display: flex;
    justify-content:center;
    background-color:rgb(255,254,241);
  }

.left_box{
  width:300px;
  
  border-radius: 4px;
  align-items: center;
  padding: 0px 10px;
  

}
.list6-title {
  font-size: 1.15em;
  background: #ee8992;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
ol {
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  border: dashed 1px gray;
}

ol li {
  position: relative;
  line-height: 1.5em;
  padding: 0.5em 0.5em 0.5em 0px;
}

ol li:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*数字のデザイン変える*/
  display:inline-block;
  background: #74c2f8;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  /*以下上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* 文字を一部青く強調 */
.span_blue {
  font-size: 18px;
  color:rgb(49,153,223);
}

/* reason画像の横ライン */

.title-border {
  display: flex;
  align-items: center;
  }

  .title-border:before,
  .title-border:after {
  border-top: 3px solid rgb(86, 182, 247);
  content: "";
  flex-grow: 1;
  }
  .title-border:before {
  margin-right: 1rem;
  }
  .title-border:after {
  margin-left: 1rem;
  }

.title-border img {
   width: 72px;
   height: 72px;
  } 

  /* 5つの理由のタイトル */
.reason_each_ttl{
  font-size: clamp(26px, 2vw, 36px);
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}

.reason_each_ttl >.reason_blue {
  color:rgb(49,153,223);
}



/*--------------------------------------
非公認自動車学校について
--------------------------------------*/
.hikounin {
  background-color: rgb(231, 238, 238);
}

  /* flexbox */
.flex_box2 {
  display: flex;
  justify-content:center;
  
}

.right_text p{
  margin-left: 20px;
  text-align: left;
  align-items: flex-start;
  margin-top: 0;

}
/*--------------------------------------
比較
--------------------------------------*/

.list {
  background-color:rgb(255, 255, 255);
}


/*--------------------------------------
生徒の声
--------------------------------------*/
.voice {
  background-color:rgb(255, 255, 255);
}

.voice_item {
  display: flex;
  justify-content: center;
  /* justify-content: space-around;
  /* flex-wrap: wrap; */
 /* width: 750px;
 margin: 0 auto; */ 
 }

.text_box2 {
  width: 50%;
  margin: 5px 25px;
  padding: 1.5em;
  background-color: #ffffff;
  border: solid 2px #c0c0bf;
  box-shadow: 0 0 0 15px #a9e7ff;
}

.text_box2 > p{
 text-align: left;
}

.text_title {
font-size: clamp(18.7px, 2vw, 22px);
color: #0cf;
border-bottom:1px dashed #CCC;
font-weight: bold;
line-height: 1.3;
margin: 12px 0 20px;
padding-bottom: 16px;

}

/* 20代男性とか */
.text_box2 >.right_bold {
  text-align: right;/* 文字を右よせ */
  font-weight: bold;
}

/*--------------------------------------
よくある質問
--------------------------------------*/
.question {
    background-color:rgb(243, 241, 241);
}

/* アコーディオンボックス */
.question_icon {
  margin-right: 10px;
  color: #0cf;
}

.acbox{
  width: auto;
  font-size:0px; /* ラベルと開く部分を分離する時は数値を入れる */
  margin:0 10px; /* ボックス全体の位置調整 */
}


.acbox label{
  width: auto;
  font-size: 16px; /* ラベルの文字サイズ */
  font-weight: bold;
  text-align: left;
  background: rgb(255, 255, 255); /* ラベルの背景色 */
  border: 1px solid #0cf;
  position: relative;
  display: block;
  padding:16px;
  border-radius: 4px; /* ラベルの角の丸み */
  cursor: pointer;
  color: rgb(109, 109, 109);
  margin-bottom: 10px;
}

.acbox label:hover{
  background: #a9e7ff; /* ラベルにマウスを乗せた時の背景色 */
}

.acbox input{
  display: none;
}

.acbox label:after{
  color: #0cf;
  content:"▼"; /* ラベルのアイコン */
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -14px;
}

.acbox input:checked ~ label::after {
  content:"▲"; /* ラベルをクリックした後のアイコン */
}

.acbox div{
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s; /* 開閉スピードの設定 */
}

.acbox input:checked ~ div{
  height: auto;
  padding: 18px; /* 開いた部分の枠内の余白 */
  border-radius: 0px;
  background: #F3F4F5; /* 開いた部分の背景色 */
  opacity: 1;
}

.acbox input:checked ~ label {
  background:#a9e7ff; /* クリック後のラベルの背景色 */
}

.acbox-under{
  text-align: left;
  font-size: 15px; /* 開いた部分の文字サイズ */
  color: #555555; /* 開いた部分の文字色 */
}

/*--------------------------------------
免許の流れ
--------------------------------------*/

.flowchart {
    background-color:rgb(255, 255, 255);

}

/*--------------------------------------
挨拶
--------------------------------------*/
.greeting {
    background-color:rgb(255, 255, 255);

}

.text_content {
  display: flex;
  max-width: 800px;
  margin:0 auto; 
  border: solid 1px #CCC;
  padding: 20px;
  margin-bottom: 20px;
  

}
.greeting_text p {
  margin-top: 0px;
  padding-left: 20px;
  text-align: left;
}

/*--------------------------------------
アクセス
--------------------------------------*/

.access {
    background-color:rgb(255, 255, 255);

}
.text_content_left img {
  padding: 10px; 

}

.text_content_right {
  width: 100%;
  padding-left: 20px;
  text-align: left;
  margin-right: 20px;
}
.point {
  background-color: #F3F4F5;
  padding: 3px;
  margin-bottom: 10px;
}

.text_content_right li {
  text-align: left;

}
.point > .train {
  padding-right: 10px;
  color: rgb(107, 106, 106);
}

.fa-subway {
  padding-right: 10px;
}

.point span {
  /* display: block; */
  padding: 10px 20px;
}



/*--------------------------------------
フッター
--------------------------------------*/
.footer {
    background-color:rgb(236,236,236);

} 

.copyright {
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.copyright a {
    color: #337ab7;
    text-decoration: none;
}
